# This file is automatically maintained by Dependabot, as configured in
# .github/dependabot.yaml.

jupyterhub==1.4.1
nbgitpuller==0.10.1
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
